# zig
.zig-cache/
zig-out/

# build artifacts
.forge-build/
*.o
*.a
*.so
*.dylib

# compiled example binaries
examples/collection_methods
examples/collections
examples/concurrency
examples/control_flow
examples/enums
examples/error_handling
examples/file_io
examples/functions
examples/generics
examples/hello
examples/imports/main
examples/iteration
examples/lambdas
examples/match
examples/methods
examples/operators
examples/optionals
examples/stdlib_new
examples/stdlib_new_test_test
examples/string_methods
examples/structs
examples/test_example_test
examples/tuples
examples/type_conversions

# compiled self-host binaries
self-host/check_main
self-host/codegen_main
self-host/forge_main
self-host/lexer
self-host/parse_main
self-host/test_init

# os
.DS_Store
Thumbs.db

# editors
*.swp
*.swo
*~
.vscode/
.idea/
